section .places {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

section .places h1{
    font-size: 30px;
    width: 100%;    
}

section .places article {    
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #ff5a5f;
}

.h2_art{
    font-size: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
}
