section .places {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

section .places h1{
    font-size: 30px;
    width: 100%;
}

section .places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #ff5a5f;
}

.h2_art{
    font-size: 30px;
    margin: 0% 0% 0% 28%;
}

.price_by_night{
    color: #FF5A5F;
    border: #FF5A5F solid 4px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: -12% 0% 2% 85%; 
}

p.price{
    font-size: 30px;
    text-align: center;
    position: relative;
    margin: 22% 0% 0% 0%;
}

.information{
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.max_guest{
    display: inline-flex;
    background: url("../images/icon_group.png");
    background-repeat: no-repeat;
    font: icon;
    height: 100%;
    width: 100px;
    margin: 2% -4%  0% 19%;
}

.number_rooms{
    display: inline-flex;
    background: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    font: icon; 
    height: 100%;
    width: 100px; 
    margin: 0% 0%  0% 1%;
}
.number_bathrooms{
    display: inline-flex;
    background: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    font: icon;
    height: 100%;
    width: 100px;
    margin: 0% 0%  0% 1%;
}

p.info_icon{
    font: icon;
    margin: 47% 0% 0% -14%;
}

.user {
    margin: 6% 0% 0% 0%;
}